{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- WRAPPER -->
        <div class="wrapper">

            
            <!-- CONTENT AREA -->
            <div class="content-area">

                <!-- BREADCRUMBS -->
                <section class="page-section breadcrumbs text-center">
                    <div class="container">
                        <div class="page-header">
                            <h1>Bizim haqqımızda</h1>
                </section>
                <!-- /BREADCRUMBS -->

                <!-- PAGE -->
                <section class="page-section color">
                    <div class="container">

                        <p class="text-center lead"><strong>Biz kimik?</strong>

Biz, Öz Evin şirkətiyik. Biz 2020-ci ildə yaranmış və 3 ildir fəaliyyət göstərmiş bir daşınmaz əmlak şirkətiyik. Bizim missiyamız, müştərilərimizə özlərinin evlərini seçmək və satmaq üçün ən rahat və asan xidməti təqdim etməkdir.

Bizim fəaliyyət sahəmiz, Bakı şəhəri və ətraf rayonlardakı evlərin alqı-satqısı və kirayə verməsidir. Bizim şirkətimizdə peşəkar və təcrübəli mütəxəssislər işləyir, onlar sizin maraqlarınızı nəzərə etibara alaraq, sizin üçün ən uyğun ev variantlarını tapacaqlar.

Bizim şirkətimiz, bina.az, rahatemlak.az kimi tanınmış daşınmaz əmlak saytlarında elanlar yerləşdirir və müştərilərimizlə online vaxtında Əlaqəni qurur. Bizim şirkətimizin adı, bizim fəaliyyət prinsipimizi Əks etdirir: biz hər bir müştərimizi öz evindəki kimi qarşılayırıq və onlara öz evlindəki kimi rahat hiss etdirməyə çalışırıq.

Biz Öz Evin şirkətiyik vә biz sizin üçün әn yaxşı evi tapmağa kömәk edәcәyik!
                        </p>
                        <hr class="page-divider"/>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x1.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Günay Seyidova <small>Müştəri xidmətləri meneceri</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Günay Seyidova, müştəri xidmətləri sahəsində mütəxəssisləşmiş təcrübəli bir menecərdir. Uzun illər boyu müxtəlif sahələrdə müştəri məmnuniyyəti əsaslı layihələr üzərində işləyən Günay, əsas olaraq müştəri ehtiyaclarını başa düşmək və onlara ən yaxşı xidməti təklif etmək üçün fəaliyyət göstərir.

Günay Seyidova'nın liderlik bacarıqları, komandasını motivasiya etmək və təlim etmək yolu ilə müştəri xidmətləri departamentini uğura çatdırır. Komanda üzvlərinin potensiallarını açığa çıxarmağa təşviq edir və onların güclü tərəflərini istifadə edərək müştərilərə şəxsi və razılaşdırıcı təcrübələr təqdim etmələrinə dəstək olur.

Müştəri-odaqlı bir menecer kimi Günay, müştəri şikayətlərini həll etmək və müştəri münasibətlərini dəstəkləmək üçün empatiya və effektiv kommunikasiya bacarıqlarını uğurla istifadə edir. Həm də müştəri geri bildirimlərini təhlil edərək xidmət keyfiyyətini yüksəltmək üçün inkişaf etdirmələr aparır.

Günay Seyidova, şirkətin müştəri-odaqlı viziyasını dəstəkləmək üçün işçilər və müştərilər arasında güclü və qoşqu köprü qurur. Şirkətin müştəri məmnuniyyəti məqsədlərini həyata keçirmək üçün strateji planlama və verilənlər analizi kimi güclü alətləri istifadə edərək həmişə uğura mərkəzli çalışır.

Nəticə olaraq, Günay Seyidova müştəri xidmətləri departamentinin effektivliyini artıran, müştərilərlə sıx bir bağ yaradaraq uzunmüddətli müştəri münasibətləri qurmağa nail olan və şirkətin böyüməsinə önəmli töhfələr verən etibarlı bir müştəri xidmətləri menecəridir.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x2.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Anar Cəfərov <small>Qrup lideri</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Anar Cəfərov, təcrübəli və bacarıqlı bir qrup lideridir. Onun liderlik vasitəsilə qrup üzvləri arasında güclü bir birlik və işbirliyi yaradır. Onun vizyonu və məqsədə nail olmağı üçün göstərdiyi qararlılıq, təşkilatını uğurlu nəticələrə çatdırmağa kömək edir.

Anar, güclü kommunikasiya bacarığına sahibdir və qrup üzvləri ilə əla əlaqələr qurmağa, fikir və fikirləri birləşdirməyə, problemləri müzakirə etməyə və yaradıcı həllər tapmağa töhfə verir. Qrupun üzvlərinin potensiallarını açıqlamağa və inkişaf etdirməyə özünü adayır və onları layihədə daha da effektiv şəkildə işləməyə təşviq edir.

Müxtəlif proyektlərdə çalışmış olması, Anar'a müxtəlif sahələrdə geniş təcrübə və bilişləri ilə təmin edir. Təcrübəsi ona müxtəlif təlimatları idarə etmə, işçilərin motivasiyasını artırma və proqramların effektivliyini təhlil etmə imkanı verir.

Həm də Anar Cəfərov, qrupun üzvlərinin mövcud və gələcək layihələrdə qarşısını daha da aydınlaşdırmağa kömək edir. Özlərini inkişaf etdirmək üçün təlimlər və təcrübə mübadiləsi təşkil edir və onların bacarıqlarını və biliklərini artırmağa nail olur.

Nəticə olaraq, Anar Cəfərov, effektiv liderlik və təşkilat bacarıqları ilə tanınan və qrup üzvlərinin potensiallarını açıqlamağa və inkişaf etdirməyə nail olan bir qrup lideridir. Onun liderliyi altında, qrup layihələrində təkmilləşmə və uğurlu nəticələr qazanmaq üçün güclü bir mühit yaradılır.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x3.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Nərmin Talıbova <small>Texniki Dəstək</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Nərmin Talıbova, texniki dəstək sahəsində mövqeyi ilə tanınan və təcrübəli bir uzmandır. Texniki məsələlərə marağı və bilikləri sayəsində, müştərilərinə üstünlük verən və həlləri tapmağa nail olan bir texniki dəstək mütəxəssisidir.

Nərmin, müştərilərin tələblərini başa düşmək və onların texniki problemlərinə effektiv həll tapmaq üçün güclü analitik və diagnostik bacarığa sahibdir. Müştərilərlə əla əlaqələr qurmağı və onların texniki suallarını anlamağı bacarığı ilə, onlara yüksək səviyyəli texniki dəstək təmin edir.

Mövcud texniki problemlərin həll edilməsi və texniki sualların cavablandırılması üçün, Nərmin, yüksək keyfiyyətli və müştərilərə yaxın həllər tapmaq üçün müxtəlif texniki alətlərdən və resurslardan istifadə edir. Onun profesional texniki bilikləri və təcrübəsi, müştərilərin texniki problemlərinin minimal müddətdə həll olunmasına kömək edir.

Nərmin Talıbova, müştərilərinin memnuniyyətini və texniki dəstək tələblərini başa düşməyə həsrət etmişdir. Texniki məsələlər və müştəri tələbləri ilə bağlı təkmilləşmələr və yeniliklər üçün açıq fikirli və işbirliyi tərəfdarlığı ilə tanınır.

Nəticə olaraq, Nərmin Talıbova texniki dəstək sahəsində bir lider və müştəri tərəfdarlığı ilə tanınan bir uzmandır. Müştərilərə effektiv və şəxsi texniki dəstək təqdim edərək onların texniki problemlərinin üstəsindən gəlir və müştərilərinin təqdirini qazanır.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail thumbnail-team no-border no-padding">
                                    <div class="media">
                                        <img src="{% static 'assets/img/preview/team/team-270x270x4.jpg' %}" alt=""/>
                                    </div>
                                    <div class="caption agents-pad">
                                        <h4 class="caption-title">Seymur Mustafayev <small>Hüquqşünans</small></h4>
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/emin4564" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://www.instagram.com/emin_official_m_ov/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://www.pinterest.com/eminmm44/" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                        <div class="caption-text">Seymur Mustafayev, hüquq sahəsində təcrübəli və uğurlu bir professional olaraq tanınır. Geniş hüquqi biliklərə sahib olan Seymur, müvəkkilərinə yüksək səviyyədə hüquqi dəstək və məsləhət təqdim edir.

Seymur'un güclü hüquqi tədqiqat və analitik bacarığı, müraciət olunan məsələləri başa düşməsinə və müvəkkilərinə uyğun və effektiv strateji gəliştirməsinə kömək edir. O, müvəkkilərinin hüquqi məsələlərini təhlil edir və onlara mümkün olan ən yaxşı hüquqi nəzərdən xidmət təklif edir.

Seymur Mustafayev, hüquqi sahədəki yenilikləri, aktual tədbirləri və təcrübə mübadiləsini izləməyə fəaliyyət göstərir. Hüquq dünyasında sürəkli inkişaf etməyə və özünü təkmilləşdirməyə özən göstərir.

Nəticə olaraq, Seymur Mustafayev, hüquqşünans sahəsində müvəkkilərini layiqli şəkildə təmsil etməsi və onlara müstəqil və dəqiqlik təklif etməsi ilə tanınan bir hüquqi ekspertdir. Onun fəaliyyəti və təcrübəsi müvəkkilər tərəfindən dəyərləndirilir və müvəkkilərinin hüquqi məsələlərini mümkün olan ən yaxşı yollarla həll etməsinə kömək edir.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- /PAGE -->

            </div>
            <!-- /CONTENT AREA -->



            <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

        </div>
        <!-- /WRAPPER -->
{% endblock content %}