<aside class="col-md-3 sidebar" id="sidebar">
                                <!-- widget -->

                                <!-- widget price filter -->
                                <div class="widget shadow widget-filter-price" style="height: 700px;">
                                    <h4 class="widget-title">Reklam</h4>
                                    <div class="widget-content">

                                    </div>
                                </div>
                                <!-- /widget price filter -->
                                <!-- widget testimonials -->
                                <div class="widget shadow">
                                    <div class="widget-title">Müştərilərin fikirləri</div>
                                    <div class="testimonials-carousel">
                                        <div class="owl-carousel" id="testimonials">
                                            <div class="testimonial">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="testimonial-text">"Öz evin Daşınmaz Əmlak şirkəti, mükəmməl xidmət və profesiynal təcrübəsi ilə ən güvənilir şirkətlərdən biridir. Onların işçiləri, tərəfdaşlıq və hörmət prinsiplərini əsas tutaraq müştəri təcrübəsini birinci sıraya qoyurlar. Ev almaq və satmaq prosesində mənə dəstək oldular və məni hər addımda məlumatlandırdılar. Onların effektivliyi və şəffaf tərzi sayəsində heç bir təəssüf hiss etmədim. Öz evin Daşınmaz Əmlak şirkəti ilə işləməkdən son dərəcə razıyam və onları hər kəsə müraciət etməyi məsləhət görürəm."</div>
                                                        <div class="testimonial-name"> <span class="testimonial-position"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="testimonial">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="testimonial-text">Öz evin Daşınmaz Əmlak şirkəti, mövcud əmlak bazarında fərqli bir yer tutur. Onların işçiləri müştəriyə rəğbət və diqqət göstərərək əmlak alış və satış prosesini çox asan və narahatlıq hissi yaratmadan idarə edir. Şirkət, müştərilərə təhlil və məsləhətləşdirmə mərhələsində çox yaxşı rəy bildirir və müştərilərin dəyərli vaxtından və məmnuniyyətindən qənaət edir. Əyləncəli və təsirli bir təcrübə ilə sona çatan əmlak əməliyyatlarını yaşamaq üçün, Öz evin Daşınmaz Əmlak şirkəti əlindən gələni edir və mən onlardan həmişəki məsləhətçim kimi istifadə edirəm.</div>
                                                        <div class="testimonial-name"> <span class="testimonial-position"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="testimonial">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="testimonial-text">"Öz evin Daşınmaz Əmlak şirkətinin işçiləri mənə nümunəvi bir təcrübə təqdim etdi. Əmlak alış və satış prosesində, şirkətin tərəfdaşlıq prinsipləri və şəffaf tərzi məni çox təsir etdi. Onların təklif etdiyi məlumatlar və məsləhətləşdirmələr sayəsində əmlak bazarında daha da vacib məlumatlar əldə etdim. Mənim sual və tələblərimə həmişə sabr və diqqət göstərildi və onlarla işləməkdən çox razı qaldım. Öz evin Daşınmaz Əmlak şirkətinin üstün xidmətini təqdir edirəm və müştərilərimə də müraciət etməyi məsləhət görürəm."</div>
                                                        <div class="testimonial-name"> <span class="testimonial-position"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /widget testimonials -->
                                <!-- widget helping center -->
                                <div class="widget shadow widget-helping-center">
                                    <h4 class="widget-title">Yardım Mərkəzi</h4>
                                    <div class="widget-content">
                                        <p>Şirkətin kömək mərkəzi, müştərilərə təqdim etdiyi məhsul və xidmətlərlə bağlı problemlərini həll etmək, məlumat vermək və müştəri memnuniyyətini artırmaq məqsədi ilə tərtib edilmiş bir dəstək və əlaqə mərkəzidir. Bu mərkəz, şirkətin müştəri xidmətləri şöbəsi tərəfindən idarə olunur və müştərilərin müxtəlif yollarla əlaqə qurmaq üçün mərkəzi xidmət nöqtəsi kimi fəaliyyət göstərir.

Şirkətin kömək mərkəzi ümumilikdə aşağıdakı xidmətləri təklif edir:


<br>1. Müştəri Dəstək Xidmətləri: Müştərilərin problemlərinə həll tapmaq üçün telefon, e-poçt və canlı söhbət yolu ilə aktif dəstək təmin edir. Müştəri nümayəndələri, müştərilərinla qarşılaşılan problemləri anlamaq və mümkün qısa müddətdə həll etmək üçün səylənir.

<br>2. Texniki Dəstək: Şirkətin texniki məhsul və xidmətlərlə bağlı problemləri olan müştərilər üçün texniki dəstək təqdim edir. Bu, yazılım problemləri, hardware məsələləri və ya quraşdırma köməyi kimi sahələrdə ixtisas tələb edən halı içərə bilər..</p>
                                        <h5 class="widget-title-sub">+994515560728</h5>
                                        <div class="button">
                                            <a href="{% url 'contact' %}" class="btn btn-block btn-theme btn-theme-dark">Dəstək Mərkəzi</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /widget helping center -->
                            </aside>