<!-- FOOTER -->

<footer class="footer">

    <div class="footer-meta">

        <div class="container">

            <div class="row">



                <div class="col-sm-12">

                    <p class="btn-row text-center">

                        <a href="https://www.facebook.com/profile.php?id=100056406723015" target="_blank" class="btn btn-theme ripple-effect btn-icon-left facebook wow fadeInDown" data-wow-offset="20" data-wow-delay="100ms"><i class="fa fa-facebook"></i>FACEBOOK</a>

                        <a href="https://twitter.com/emin4564" target="_blank" class="btn btn-theme btn-icon-left ripple-effect twitter wow fadeInDown" data-wow-offset="20" data-wow-delay="200ms"><i class="fa fa-twitter"></i>TWITTER</a>

                        <a href="https://www.instagram.com/emin_official_m_ov/" target="_blank" class="btn btn-theme btn-icon-left ripple-effect instagram wow fadeInDown" data-wow-offset="20" data-wow-delay="300ms"><i class="fa fa-instagram"></i>instagram</a>

                        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="btn btn-theme btn-icon-left ripple-effect google wow fadeInDown" data-wow-offset="20" data-wow-delay="400ms"><i class="fa fa-google"></i>GOOGLE</a>

                    </p>

                  <!--  <div class="copyright">&copy; </div> -->

                </div>



            </div>

        </div>

    </div>

</footer>

<!-- /FOOTER -->