{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- WRAPPER -->
        <div class="wrapper">

            
            <!-- CONTENT AREA -->
            <div class="content-area">

                <!-- BREADCRUMBS -->
                <section class="page-section breadcrumbs text-right">
                    <div class="container">
                        <div class="page-header">
                            <h1>Mənzillərin siayhısı</h1>
                        </div>
                        <ul class="breadcrumb">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li class="active"></li>
                        </ul>
                    </div>
                </section>
                <!-- /BREADCRUMBS -->

                <!-- PAGE WITH SIDEBAR -->
                <section class="page-section with-sidebar sub-page">
                    
                    <nav class="navbar bg-body-tertiary" style="background-color: #3C64FF;">
                        <div class="container-fluid">
                            <div class="panel-from" style="display: inline;">
                                <form class="d-flex " action='' method="get" style="display: inline;">
                                    {{ search_form.search }}
                                    <button class="btn btn-outline-success search-btn" type="submit">Axtar</button>
                                </form>

                                <button onclick="openNav()" class="btn btn-outline-success search-btn">Filter</button>

                                <script>
                                    function openNav() {
                                        document.getElementById("mySidenav").style.width = "300px";
                                        document.getElementById("mySidenav").style.padding = "16px";
                                    }

                                    function closeNav() {
                                        document.getElementById("mySidenav").style.width = "0";
                                        document.getElementById("mySidenav").style.padding = "0";
                                    }
                                </script>
                            </div>
                            <div class="section-panel panel-icon" style="display: inline; float: right;">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'liked' %}"><i class="fa-solid fa-heart"></i></a>
                                    <a href="{% url 'saved' %}"><i class="fa-solid fa-bookmark"></i></a>
                                {% else %}
                                    <a href="{% url 'log-in' %}" onclick="alert('Şəxsi hesabınıza daxil olun.')"><i class="fa-solid fa-heart"></i></a>
                                    <a href="{% url 'log-in' %}" onclick="alert('Şəxsi hesabınıza daxil olun.')"><i class="fa-solid fa-bookmark"></i></a>
                                {% endif %}

                            </div>
                        </div>
                    </nav>

                    <div id="mySidenav" class="sidenav" style="padding-top: 80px;">
                        <div style="margin-top:80px;">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <form action="" method="get">
                                {{ filter_form.search_category }}
                                {{ filter_form.search_area }}
                                {{ filter_form.search_rooms }}
                                {{ filter_form.search_min_price }}
                                {{ filter_form.search_max_price }}
                                <button class="btn btn-outline-light" style="margin-top: 8px;" type="submit">Axtar</button>
                            </form>
                        </div>
                    </div>
         
                    <div class="container" style="width:90%;" id="main">
                        <div class="row">
                            <!-- CONTENT -->
                            <div class="col-md-9 content property-listing" id="content">

                                <!-- Car Listing -->
                                {% if posts %}
                                {% for post in posts %}
                                
                                <div class="thumbnail no-border no-padding thumbnail-property-card clearfix {{ post.product_category }}">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="{{ post.image1.url }}">
                                            <img src="{{ post.image1.url }}" alt="" style="width:370px;height:220px"/>
                                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                        </a>
                                    </div>
                                    <div class="caption">
                                        
                                        <h4 class="caption-title"><a href="{% url 'property-detail-view' post.id %}">{{ post.product_name }}</a></h4>
                                        <h5 class="caption-title-sub">{{ post.product_price }} AZN</h5>
                                        <div class="caption-text" style="width: 100%;margin: 8px;height: 80px;overflow-x: hidden;overflow-y: auto;text-align:justify;">{{ post.product_article }}</div>
                                        <table class="table">
                                            <tr>
                                                <td><i class="fa fa-expand"></i> {{ post.square }} kv </td>
                                                <td><i class="fa fa-bed"></i> {{ post.rooms }} otaq</td>
                                                <td><i class="fa fa-tint"></i> {{ post.date }}</td>

                                                <td class="buttons"><a class="btn btn-theme" href="{% url 'property-detail-view' post.id %}" target="_blank">Ətraflı</a></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                                {% endfor %}
                                {% endif %}
                                

                                

                                <!-- /Car Listing -->

                                {% include "./pagination.html" %}
                                

                            </div>
                            <!-- /CONTENT -->

                            <!-- SIDEBAR -->
                            {% include './aside.html' %}
                            <!-- /SIDEBAR -->

                        </div>
                    </div>
                </section>
                <!-- /PAGE WITH SIDEBAR -->

                

            </div>
            <!-- /CONTENT AREA -->

            {% include "./footer-1.html" %}

            <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

        </div>
        <!-- /WRAPPER -->
{% endblock content %}
